main p{
  margin-left: 30px;
  text-align: justify;
}

main h1{
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: bold;
}

main h2{
  margin-bottom:20px;
  
}

#Sprachenzweigbild{
  margin-bottom: 50px;
}

